<div style="width:50vw; overflow-y: auto;height: calc(100vh - 58px);">
    <h1 class="title is-2" style="text-align: center">{{ gameService.gameDetails?.title }}</h1>
    <br />
    <div class="container" style="margin: 0 30px">
      <div
        class="columns"
      >
        <div class="column is-6">
          <img [src]="gameService.gameDetails?.thumbnail" alt="" />
        </div>
        <div class="column is-6">
          <div *ngIf="gameService.gameDetails?.id">
            <b>genre: </b>{{ gameService.gameDetails?.genre }}
          </div>
          <div>
              <b>Developer: </b>{{ gameService.gameDetails?.developer }}
          </div>
          <div>
            <b>Platform: </b>{{ gameService.gameDetails?.platform }}
          </div>
          <div>
            <b>Release: </b>{{ gameService.gameDetails?.release_date }}
          </div>
          <div>
            <a class="button" href="{{ gameService.gameDetails?.game_url }}" style="margin-top: 10px">
              Game page
            </a>
          </div>
        </div>
      </div>
      <div class="">
        <b>Description:&nbsp;</b>{{ gameService.gameDetails?.description }}
      </div>
    </div>
</div>