.scrolldiv {
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0)),
    linear-gradient(0deg, #fff, rgba(255, 255, 255, 0)),
    linear-gradient(180deg, #aaa, rgba(255, 255, 255, 0)),
    linear-gradient(0deg, #aaa, rgba(255, 255, 255, 0));
  background-position: 0 0, 0 100%, 0 0, 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.title {
  margin-bottom: 15px;
}

.divButton {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.divButton:hover {
  background-color: #eee;
}

.divButton:active {
  background-color: #eee;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.searchbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.input {
  margin: 0 20px;
}
