<div style="padding-top: 56px; display: flex; overflow-x: hidden;">
    <!-- <Button style="position: absolute; margin: 5px 0 0 5px;border: none; font-size: 1.2em"></Button> -->
    <button class="button returnButton" *ngIf="phoneDisplay && detailOn" (click)="mask()" style="position: absolute; margin: 5px 0 0 5px;border: none; font-size: 1.8em; padding: 5px; height: 45px;">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
    <app-game-list [hidden]="phoneDisplay && detailOn" [detailOn]="detailOn" [phoneDisplay]="phoneDisplay" (setDetailOn)="setDetailOn()"></app-game-list>
    <app-game-detail [hidden]="phoneDisplay && !detailOn" [detailOn]="detailOn" [phoneDisplay]="phoneDisplay"></app-game-detail>
</div>