@import "../../../node_modules/bulma/bulma.sass";

html,
body {
  overflow: auto;
}

* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eeeeee;
}

.dark-theme *::-webkit-scrollbar-track {
  background: #789;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 20px;
  border: 2px solid #eeeeee;
}

.dark-theme *::-webkit-scrollbar-thumb {
  background-color: #cde;
  border-radius: 20px;
  border: 2px solid #789;
}
